.elements__item {
  max-width: 282px;
  min-height: 361px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
