.profile {
  margin: 0 auto;
  max-width: 880px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: min-content 3fr minmax(150px, auto);
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
  }
}

@media screen and (max-width: 720px) {
  .profile {
    max-width: 282px;
  }
}
