.elements {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 900px) {
  .elements {
    max-width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    max-width: 282px;
  }
}
