.profile__edit-button {
  min-height: 24px;
  min-width: 24px;
  background-image: url(../../../images/edit.svg);
  background-color: #000;
  background-size: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  margin-top: 15px;
  transition: opacity .3s ease-out;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile__edit-button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 720px) {
  .profile__edit-button {
    min-height: 18px;
    min-width: 18px;
    background-size: 7px;
    margin-top: 7px;
  }
}
