.elements__trash {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  transition: opacity .1s ease-out;
  position: absolute;
  top: 20px;
  left: 244px;
  z-index: 1;
}

.elements__trash:hover {
  opacity: .6;
  cursor: pointer;
}
